<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated utilities -->
      <package
            uri="http://gecko.io/utils/1.0"
            class="org.geckoprojects.emf.utilities.UtilPackage"
            genModel="model/utilities.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated utilities -->
      <parser
            type="util"
            class="org.geckoprojects.emf.utilities.util.UtilResourceFactoryImpl"/>
   </extension>
</plugin>
