<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012 - 2018 Data In Motion and others.
 All rights reserved. 
 
 This program and the accompanying materials are made available under the terms of the 
 Eclipse Public License v1.0 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
  
 Contributors:
     Data In Motion - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated query_1.0 -->
      <package
            uri="http://data-in-motion.biz/query/1.0"
            class="org.geckoprojects.utilities.query.QueryPackage"
            genModel="model/query_1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated query_1.0 -->
      <parser
            type="query"
            class="org.geckoprojects.utilities.query.util.QueryResourceFactoryImpl"/>
   </extension>

</plugin>
